@import "../../styles/variables";

.blurb {
    display: grid;
    gap: 8px;
    width: 100%;
    padding: 2em;
    // box-shadow: $box-shadow;
    border-radius: 16px;
}

.title {
    font-size: 22px;
    font-weight: 500;
    line-height: 1.1;
}

.text {
    font-size: 14px;
    color: rgb(100, 110, 115);
}
