@import "../../styles/variables";

// dashboard__graph-budget
.container {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 25px;

    grid-template-areas:
        "card-1 card-2 card-3 card-4"
        ". pie-chart pie-chart ."
        "table table table table";
}

// dashboard__graph-piechart
.piechart {
    grid-area: pie-chart;

    & > div {
        border-radius: $graph-radius;
        // width: min-content;
        width: 100%;
        box-shadow: $box-shadow;
        margin: 0 auto;
    }
}

// dashboard__graph-table
.table {
    grid-area: table;

    box-shadow: $box-shadow;
    border-radius: $graph-radius;
    overflow: hidden;
}
