@import "../../styles/variables";

.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.summary {
    width: 500px;
    margin: 35px 0;
}

@media only screen and (max-width: $phone-size) {
    .container {
        flex-direction: column;
    }

    .summary {
        width: 100%;
    }
}
