@import "../../styles/variables";

.post {
    padding: 2em 0;
    display: grid;
    grid-template-columns: 4fr 1fr;
    grid-column-gap: 3em;
    border-bottom: 1px solid #e7ebed;
    max-width: 900px;
    margin: 0 auto;

    .body {
        & p {
            margin: 1em 0;
            font-size: 17.5px;
        }

        & ul {
            margin: 0 2em;
        }

        & div > ul {
            margin: 1em 2em;
        }

        & a {
            text-decoration: none;
            color: $color-primary;
        }
    }

    .title {
        font-size: 39px;
        margin: 0.5em 0 1em;
        line-height: 1.3;
    }

    .date {
        color: rgba(0, 0, 0, 0.4);
        padding: 1em 0 2em;
        font-size: 15px;
    }
}

.author {
    & h4 {
        padding-top: 0.5em;
    }
    border-top: 1px solid #e7ebed;
    border-bottom: 1px solid #e7ebed;
}

.categories {
    & h4 {
        padding: 0.5em 0 1em;
    }
}

.social {
    position: fixed;
    top: 50%;
    right: 10px;
    transform: translate(0, -50%);

    & li {
        list-style: none;
        padding: 8px;
    }
}

@media only screen and (max-width: $tablet-size) {
    .post {
        display: block;
        max-width: 650px;
    }
}

@media only screen and (max-width: $phone-size) {
    .post {
        padding: 2em 2em;

        .title {
            font-size: 32px;
        }

        .social {
            top: 60%;
            transform: translate(0, -40%);
        }
    }
}
